.react-calendar {
	width: 100%;
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
/* 기본 날짜 스타일 초기화 */
.react-calendar__tile abbr {
	display: block;
}

.react-calendar__tile:hover,
.focused-today-tile:hover {
	background-color: #c00c0b0d !important; /* 기존 배경 유지 */
	cursor: default;
}

.custom-calendar {
	position: relative;
	overflow: hidden;
	transition:
		max-height 0.8s ease,
		opacity 0.8s ease;
}

.custom-calendar-mobile {
	position: relative;
	width: 100%;
	overflow: hidden;
	transition:
		max-height 0.8s ease,
		opacity 0.8s ease;
}

/* 오늘 날짜는 abbr 숨기기 */
.focused-today-tile abbr {
	display: none;
}

.not-focused-today-tile abbr {
	display: none;
}

.custom-calendar .react-calendar__month-view__days {
	display: grid !important;
	grid-template-columns: repeat(7, 1fr);
}

.custom-calendar .month-number {
	color: #000;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
}

.custom-calendar-mobile .month-number {
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
}
.custom-calendar .month-text {
	color: #000;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

.custom-calendar-mobile .month-text {
	font-size: 16px;
	line-height: 20px;
}

/*PC 날짜 타일 (공통)*/
.custom-calendar .react-calendar__month-view__days .react-calendar__tile {
	margin: 0 34px;
	width: 57px;
	aspect-ratio: 57 / 56;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 10px 30px 10px;
}

/*mobile 날짜 타일 (공통)*/
.custom-calendar-mobile .react-calendar__month-view__days .react-calendar__tile {
	border-radius: 8px;
	padding: 12px 8px 28px 8px;
	width: 100%;
	aspect-ratio: 43 / 56;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	font-weight: 500;
	margin: 0;
}
/* 활성화 안 되는 날짜 */
.custom-calendar .disabled-tile {
	color: #cccccc;
}

/* 활성화 되는 날짜 */
.custom-calendar .active-tile {
	color: #000000;
}

/* 주의 첫번째 날짜 */
.custom-calendar .react-calendar__month-view__days .react-calendar__tile:nth-child(7n + 1) {
	margin-left: 0;
}

/*승부 예측 기간이 아닌 날짜 타일*/
.custom-calendar .react-calendar__month-view__days .disabled-after {
	width: 100%;
	aspect-ratio: 57 / 56;
	margin: 0;
	border-radius: 0px;
}

/*승부 예측 기간이 아닌 날짜 타일의 border-radius*/
.custom-calendar .react-calendar__month-view__days .disabled-after-week-start {
	border-radius: 8px 0 0 8px;
}

.custom-calendar .react-calendar__month-view__days .disabled-after-week-end {
	border-radius: 0 8px 8px 0;
}

/* focus된 타일 */
.custom-calendar .focused-today-tile,
.custom-calendar .focused-tile {
	border: 2px solid #c00c0b !important;
	background-color: #c00c0b0d !important;
	color: #c00c0b !important;
}

/*focus 안 된 오늘 날짜 스타일*/
.custom-calendar .not-focused-today-tile {
	color: #c00c0b4d;
	border: 2px solid #c00c0b4d !important;
	background-color: #fff;
}

.custom-calendar-mobile .react-calendar__month-view__days .react-calendar__tile.has-match {
	padding: 12px 8px;
}

.react-calendar__tile--active {
	background-color: transparent !important; /* 배경 제거 */
}

.custom-calendar .react-calendar__month-view__weekdays {
	display: grid !important;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 34px; /* 요일 간격 설정 */
}

.custom-calendar-mobile .react-calendar__month-view__weekdays {
	column-gap: 0px; /* 요일 간격 설정 */
}

/* 각 요일 항목 */
.react-calendar__month-view__weekdays__weekday {
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 500;
	color: #afafaf;
	text-align: center;
	text-decoration: none;
	margin-bottom: 18px;
}

.custom-calendar-mobile .react-calendar__month-view__weekdays__weekday {
	padding: 10px 16px;
	font-size: 12px;
	margin-bottom: 8px;
}

.react-calendar__month-view__weekdays__weekday abbr {
	text-decoration: none !important;
	border: none !important;
	border-bottom: none !important;
}

.react-calendar__navigation__label {
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
	background: none !important;
}

/* transition으로 숨겨야 할 날짜 */
.hidden-tile {
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	opacity: 0 !important;
	transition:
		height 0.5s ease,
		opacity 0.5s ease;
}

.hidden-other-month-tile {
	opacity: 0;
	height: 0;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
	pointer-events: none;
}

.calendar-dot {
	display: flex;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #c00c0b;
}

.calendar-count {
	display: flex;
	color: #676767;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.disabled-after {
	position: relative;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	color: transparent;
}

.disabled-after::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 36px;
	color: #afafaf;
	background-color: rgba(192, 12, 11, 0.05);
	transform: translateY(-50%);
	border-radius: inherit;
	z-index: 1;
}
