@import 'tailwindcss';

@theme {
  --color-negative: #ff0005;

  --color-primary-900: #c00c0b;
  --color-primary-800: #c00c0be5;
  --color-primary-700: #c00c0bb2;
  --color-primary-300: #c00c0b4d;
  --color-primary-200: #c00c0b33;
  --color-primary-50: #c00c0b0d;
  --color-secondary: #890f0e;

  --color-black-900: #000000;
  --color-black-800: #363636;
  --color-black-700: #676767;
  --color-black-600: #8f8f8f;
  --color-black-500: #afafaf;
  --color-black-400: #cccccc;
  --color-black-300: #dcdcdc;
  --color-black-200: #f0f0f0;
  --color-black-150: #f6f6f6;
  --color-black-100: #f8f8f8;
  --color-black-000: #ffffff;

  --shadow-select-options: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  --shadow-login-button: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  --shadow-floating-button: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  --shadow-predict-button: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  --shadow-predict-button-active: 0px 2px 10px 0px rgba(217, 25, 32, 0.4);
  --shadow-score-button-active: 0px 0px 6px 0px rgba(217, 25, 32, 0.4);
  --shadow-closed-button-active: 0 0 0 0.5px var(--color-primary-200);
  --shadow-kick-button: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  --shadow-kick-button-active: 0px 2px 10px 0px rgba(217, 25, 32, 0.2);
  --shadow-navbar-modal: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  --shadow-calendar: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);

  --drop-shadow-score: 0px 0px 4px rgba(0, 0, 0, 0.1);

  --font-pretendard: 'pretendard', 'sans-serif';

  /* font sizes */
  --text-10: 10px;
  --text-12: 12px;
  --text-13: 13px;
  --text-14: 14px;
  --text-15: 15px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-28: 28px;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* line heights */
  --lh-normal: normal;
  --lh-16: 16px;
  --lh-18: 18px;
  --lh-20: 20px;
  --lh-24: 24px;
  --lh-26: 26px;
  --lh-28: 28px;
  --lh-36: 36px;
}
